/.idea
/.vscode

/node_modules
/storage/*.key
/vendor

.env
.env.backup
.env.testing
.phpunit.result.cache
_ide_helper*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
